# org
*.org_archive
org-roam.db

# org-agenda
todo.org
notes.org

# org-roam
journal.org
/dailies/*.org
/private

# org-export
*.html

# python env
/3.12.1
/.direnv

# latex
ltximg
*.tex
*.aux
*.bbl
*.bib
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.toc
*.fls
*~
