/* [[file:git-stack.org::*noexport][noexport:1]] */
/* org reset --------------------------------------------- */
body { font-size: 0.9em; margin: 0.1em; padding: 0em }
p { font-size: 0.9em; }
th { background-color: seagreen; color: #F6F6F6; }
table { border: 1px solid darkgreen; border-radius: 3px; }
th,td { border: 1px solid darkgreen; padding: 0.1em; font-size: 0.9em; line-height: 0.9em }
#content { max-width: 100% !important }
code { color: indigo; }
h1,h2,h3,h4,h5 { margin: 0.2em; padding: 0.1em}
ul,ol { margin: 0.1em; }

dd { margin: 0.1em 2em; }
li { margin: 0.1em;font-size: 0.9em; }

/* cheatsheet --------------------------------------------- */
table { display: table; }
pre { padding: 0.2em; margin: 0.2em; display:table; }
h2 { color: maroon; font-size: 1.4em; line-height: 1.4em; margin: 0.1em; }
h3 { color: darkblue; font-size: 1.3em; line-height: 1.3em; margin: 0.1em; }
h4 { color: indigo; font-size: 1.2em; line-height: 1.2em; margin: 0.1em; }
h5 { color: blue; font-size: 1.0em; line-height: 1.0em; margin: 0.1em; }
p { margin: 0.1em }

/* this rule is needed twice for some reason */
p.verse b { color: darkgreen !important; }
p.verse b { color: darkgreen; }
p.verse i { color: darkblue !important; }
p.verse span.underline { color: maroon !important; }  /* font-weight: 550; */
/* p.verse b { color: darkgreen; } */
p.verse { font-family: monospace; line-height: 0.7em; padding: 0; margin: 0.2em}; }

pre { border-color: #777; background-color: #eee }
/* noexport:1 ends here */
