/* [[file:riastradh-scheme-style-guide.org::*noexport][noexport:1]] */
/* org reset --------------------------------------------- */
body { font-size: 0.9em; margin: 0.1em; padding: 0em }
p { font-size: 0.9em; }
th { background-color: seagreen; color: #F6F6F6; }
table { border: 1px solid darkgreen; border-radius: 3px; }
th,td { border: 1px solid darkgreen; padding: 0.2em; font-size: 0.9em; }
#content { max-width: 100% !important }
code { color: indigo; }
h1,h2,h3,h4,h5 { margin: 0.2em; padding: 0.1em;  }
ul,ol { margin: 0.1em; }

dd { margin: 0.1em 2em; }
li { margin: 0.1em; }

/* cheatsheet --------------------------------------------- */
h1,h2,h3,h4,h5,h6 { text-align: center; }
h2 { color: darkblue; font-size: 1.1em; line-height: 1.1em; text-align: center; margin: 0.2em auto; }
h3 { color: crimson; }
h4 { color: darkgreen; }
h5 { font-size: inherit }
h6 { font-size: inherit }

table { display: table; margin: auto; }
pre {  border: none; padding: 0.2em; margin: auto 0.5em;; background-color: #F9F6F9;  }

/* this rule is needed twice for some reason */
p.verse b { color: darkgreen !important; }
p.verse b { color: darkgreen; }
p.verse span.underline { color: maroon !important; }  /* font-weight: 550; */
/* p.verse b { color: darkgreen; } */
p.verse { font-family: monospace; padding: 0; margin: 0.2em}; }
/* noexport:1 ends here */
